@model IEnumerable<NVTLesson12_ontap.Models.Nvt_TACGIA>

@{
    ViewBag.Title = "NvtIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("NVT: Create New", "NvtCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nvt_TenTG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nvt_TenTG)
        </td>
        <td>
            @Html.ActionLink("Nvt: Edit", "NvtEdit", new { id=item.Nvt_MaTG.Trim() }) |
            @Html.ActionLink("Nvt: Details", "NvtDetails", new { id=item.Nvt_MaTG.Trim() }) |
            @Html.ActionLink("Nvt: Delete", "NvtDelete", new { id=item.Nvt_MaTG.Trim() })
        </td>
    </tr>
}

</table>
