@model NVTLesson12_ontap.Models.Nvt_SACH

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nvt_SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nvt_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nvt_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nvt_SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nvt_SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nvt_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nvt_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nvt_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nvt_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nvt_TACGIA.Nvt_TenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nvt_TACGIA.Nvt_TenTG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
